<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="rest.js"></script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Welcome Jack<br>Who did you home teach?</h2>

<div>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.first %> - <%= r.last %><input type="checkbox" name="options[]" id="options[]" value="<%= r.first %> + ' ' + <%= r.last %>"/></li>
    <% }); %>
</ul>
	<button onclick="sendReport();">Submit Report</button>

</div>

<div id="demon">
	
</div>


</div>

</body>
</html>